* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    font: 1.2rem sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(to right,#cb4608, #5e0909);
    color: white;
    padding: 1rem;
    font:bold 2rem sans-serif;
    text-shadow: 0 0 10px #0009;
}

main {
    flex-grow: 5;
    background: linear-gradient(to top, #4b4b4b,#161616);
    section{
        margin: 2rem;
        padding: 1rem;
        background: #ffffff11;
        border-radius: 0.5rem;
        color: white;
    }
}


nav {
    background: #2c2c2c;
    display: flex;
    gap: 1rem;
    padding: .3rem 1rem;

    a {
        color: white;
        text-decoration: none;
        padding: .3rem .6rem;
        border-radius: 0.3rem;

        &:hover {
            background: #2479b69a;
            color: rgb(0, 0, 0);

        }
    }
}

footer {
    background: #000;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
    margin: 2rem auto;
    input:not([type="submit"]){
        padding: .5rem;
        border-radius: 0.3rem;
        border: none;
    }
    input[type="submit"]{
        padding: .5rem;
        border-radius: 0.3rem;
        border: none;
        background: #2479b6;
        color: white;
        font-weight: bold;
        cursor: pointer;

        &:hover{
            background: #1e5f8a;
        }
    }
}